html
  head
    script(src='javascripts/components/jquery/dist/jquery.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    title!= title
  body
    #container.site-main.surface-container
     div.surface
      div.screenContent.surface-content
       div.u-foreground.v-beautifulHomepage
        div.layoutSingleColumn.layoutSingleColumn--withSidebar.u-minFullHeightControl
         div.blockGroup.blockGroup--posts.blockGroup--inset.blockGroup--list
          div.blockGroup-list.layoutSingleColumn
           div.block.block--inset.block--list
            div.block-firefoxPositioningContainerHack
             a(href='/davos-2015/we-need-a-new-global-response-to-pandemics-79503381a32a',class="block-image",style="background-image:url(https://d262ilb51hltx0.cloudfront.net/fit/c/140/120/1*-rtr_z2YYZmcDFDeh9IXJw.jpeg)")
             div.block-content block-with-metadata
               h3(class="block-title", lang="en")
                a(href="/davos-2015/we-need-a-new-global-response-to-pandemics-79503381a32a")
                  We need a new global response to pandemics</a>
               a.block-snippet.block-snippet--subtitle(href="/davos-2015/we-need-a-new-global-response-to-pandemics-79503381a32a")
               div.u-clearfix.block-postMetaWrap
                div.block-postMeta
                 div.postMetaInline-avatar
                  a.link(title="Go to Davos 2015: The New Global Context", href="/davos-2015")
                   img(src="https://d262ilb51hltx0.cloudfront.net/fit/c/40/40/1*UU0ZwXJ56VUCw0E_Rfd0AA.png", class="avatar-image avatar-image--small avatar-image--roundedRectangle", alt="Davos 2015: The New Global Context")
                div.postMetaInline-feedSummary
                 p In 
                 a.link.link.link--accent.link--darken(title="Go to Davos 2015: The New Global Context", href="/davos-2015")
                  p Davos 2015: The New Global Context
                 a.link.link.link--accent.link--darken"(title="Go to the profile of World Economic Forum", href="/@wef")
                  p World Economic Forum
                span.postMetaInline.postMetaInline--supplemental
                 p 18 hrs ago
                 span.postMetaInline.postMetaInline--bookmark
                 
        