html
  head
    link(href='/stylesheets/main.css', rel='stylesheet')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    title!= title
  body
    #container.site-main.surface-container
     div.surface(id="repoapp")
      div.screenContent.surface-content
       div.u-foreground.v-beautifulHomepage
        div.layoutSingleColumn.layoutSingleColumn--withSidebar.u-minFullHeightControl
         div.blockGroup.blockGroup--posts.blockGroup--inset.blockGroup--list
          div.blockGroup-list.layoutSingleColumn(data-ref="repos")
           // NEW ITEM
           div.block.block--inset.block--list
            div.block-firefoxPositioningContainerHack
             // IMAGES
             a(class="block-image")
              div(data-ref="images")
             div.block-content.block-with-metadata
              // TITLE
              h3(class="block-title", lang="en")
               a(data-ref="title", target="_blank")
              // METRICS 
              i.fa.fa-eye(data-ref="watchers", style="font-size:12px;margin:10px;")
              i.fa.fa-star(data-ref="stars", style="font-size:12px;margin:10px;") 
              i.fa.fa-code-fork(data-ref="forks", style="font-size:12px;margin:10px;")
              i.fa.fa-bug(data-ref="issues", style="font-size:12px;margin:10px;")
              // DESCRIPTION
              a.block-snippet.block-snippet--subtitle(data-ref="description", target="_blank")
              div.u-clearfix.block-postMetaWrap
               div.block-postMeta
                div.postMetaInline-avatar
                 // USER
                 a.link(data-ref="user", target="_blank")
                  img(data-ref="user_avatar", class="avatar-image avatar-image--small avatar-image--roundedRectangle", alt="Davos 2015: The New Global Context")
                div.postMetaInline-feedSummary
                 a.link.link.link--accent.link--darken(title="Go to Davos 2015: The New Global Context", href="/davos-2015")
                 a.link.link.link--accent.link--darken(title="Go to the profile of World Economic Forum", href="/@wef")
                 span.postMetaInline.postMetaInline--supplemental Author 
                  a(data-ref="user_info", class="link link link--accent link--darken")
                  span.postMetaInline.postMetaInline--bookmark(data-ref="date")
              // CODE
              // div(data-ref="codes")
    script(src='javascripts/components/expresso/expresso.min.js')
    script(src='javascripts/components/moment/min/moment.min.js')
    //script(src='javascripts/components/marked.js')
    script(src='javascripts/components/fetch/fetch.js')
    script(src='javascripts/app.js')                 
                 
        