html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href='/stylesheets/main.min.css', rel='stylesheet')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    script(src="https://cdn.socket.io/socket.io-1.3.2.js")
    title Noday (daily NodeJS Github contributions)
  body
    // BODY
    #container.site-main
     // APP
     div.surface(id="repoapp")
      div.screen-content
       div.u-foreground
        // BAR
        div.metabar.u-clearfix.metabar--top.metabar--bordered.metabar--white
         div.metabar-block.u-alignLeft
          // ICON
          a(href="/", alt="Homepage",data-log-event="home")
            span.logo
         div.metabar-block.metabar-center
          nav.navTabs.navTabs--metabar
           ul.navTabs-list.layoutSingleColumn(data-ref='menus')
            li.navTabs-item
             a.navTabs-anchor(data-ref="anchor")
         div.metabar-block.u-alignRight
          div.buttonSet
           a.button(href="https://github.com/darul75/noday", target="_blank") Fork me
        // GRID
        div.layoutSingleColumn.layoutSingleColumn--withSidebar.u-minFullHeightControl
         div.blockGroup-list.layoutSingleColumn
          div.blockGroup
           // PARTICLES
           #particles
           // METRICS
           #metrics.metrics.u-hideOnTablet.u-hideOnMobile
            div(data-ref="metrics")
             div
              span.postMetaInline.postMetaInline--supplemental Last server synchro 
               a.link.link.link--accent.link--darken(data-ref="prev")
             div
              span.postMetaInline.postMetaInline--supplemental Next server synchro 
               a.link.link.link--accent.link--darken(data-ref="next")
           // REPOS
           div.layoutSingleColumn(data-ref="repos")
            // NEW ITEM
            div.block.block--inset.block--list
             div
              // IMAGES
              a(class="block-image")
               div(data-ref="images")
              div.block-content
               // TITLE
               h3(class="block-title", lang="en")
                a(data-ref="title", target="_blank")
               // METRICS 
               i.fa.fa-eye(data-ref="watchers", style="font-size:12px;margin:10px;")
               i.fa.fa-star(data-ref="stars", style="font-size:12px;margin:10px;") 
               i.fa.fa-code-fork(data-ref="forks", style="font-size:12px;margin:10px;")
               i.fa.fa-bug(data-ref="issues", style="font-size:12px;margin:10px;")
               // DESCRIPTION
               div
                a.block-snippet(data-ref="description", target="_blank")
               div.u-clearfix.block-postMetaWrap
                div.block-postMeta
                 div.postMetaInline-avatar
                  // AVATAR
                  a.link(data-ref="user", target="_blank")
                   img(data-ref="user_avatar", class="avatar-image avatar-image--small avatar-image--roundedRectangle", alt="Davos 2015: The New Global Context")
                 div.postMetaInline-feedSummary
                  // AUTHOR
                  div
                   span.postMetaInline.postMetaInline--supplemental Author 
                    a(data-ref="user_info", class="link link link--accent link--darken")
                  // DATE
                  div
                   span.postMetaInline.postMetaInline--supplemental Time 
                    span.postMetaInline.postMetaInline--bookmark(data-ref="date")
                  // LANGUAGE
                  div
                   span.postMetaInline.postMetaInline--supplemental 
                    span.postMetaInline.postMetaInline--bookmark(data-ref="language")  
                  // CODE
                  div
                    span.postMetaInline.postMetaInline--supplemental(data-ref="codeTxt") Code  
                     span(class="link link link--accent link--darken") samples 
                       i.fa.fa-code
                     span.postMetaInline.postMetaInline--bookmark
      // MODAL
      section.modal--show(id="modal",tabindex="-1",role="dialog",aria-labelledby="modal-label",aria-hidden="true", data-ref="modal")
       div.modal-inner
        header(id="modal-label")
          div.modal-content(data-ref="content")
        footer
       a(href="",class="modal-close",title="Close this modal",data-close="Close", data-dismiss="modal")
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-45895157-19', 'auto');
     ga('send', 'pageview');
    script(src='javascripts/components/underscore/underscore-min.js')   
    script(src='javascripts/components/expresso/expresso.min.js')
    script(src='javascripts/components/moment/min/moment.min.js')
    script(src='javascripts/components/marked.js')
    script(src='javascripts/components/fetch/fetch.js')
    script(src='javascripts/app.min.js')