html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
@font-face {
  font-family: 'Cambria';
  src: local('Arial'), local('Helvetica');
  unicode-range: U+2500-259F;
}
@-ms-viewport {
  width: device-width;
}
body {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4 {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form {
  margin: 0;
}
p {
  margin-bottom: 30px;
}
menu,
ol,
ul {
  padding: 0;
  list-style: none;
  list-style-image: none;
}
@media screen and (max-device-width: 1000px) {
  html {
    -webkit-text-size-adjust: none;
  }
}
@media print {
  h2,
  h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
}
@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
.button {
  display: inline-block;
  position: relative;
  height: 38px;
  padding: 0 16px;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  -webkit-transition: 100ms background-color, 100ms border-color, 100ms color;
  transition: 100ms background-color, 100ms border-color, 100ms color;
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
.button {
  line-height: 37px;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.site-main {
  height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 150ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.surface {
  top: 0;
  height: 100%;
  width: 100%;
  *zoom: 1;
  box-sizing: border-box;
  -webkit-transition: padding-bottom 100ms;
  transition: padding-bottom 100ms;
}
.surface:before,
.surface:after {
  display: table;
  content: " ";
}
.surface:after {
  clear: both;
}
.screen-content {
  outline: 0;
  background-color: #fff;
}
@media not print {
  .screen-content {
    height: 100%;
  }
}
.u-foreground {
  position: relative;
  z-index: 100;
}
.metabar {
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  -webkit-transition: 200ms background-color, 200ms color;
  transition: 200ms background-color, 200ms color;
}
.metabar .buttonSet,
.metabar .metabar-text,
.metabar-block > .button {
  margin: 10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.metabar .button-set {
  line-height: 44px;
}
.metabar-block > .button-set + .button-set {
  margin-left: 0;
}
@media screen and (max-width: 680px) {
  .metabar {
    position: absolute;
    box-shadow: none;
  }
}
.layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}
@media only screen and (min-width: 1224px) {
  .layoutSingleColumn {
    width: 1000px;
  }
}
.layoutSingleColumn--withSidebar {
  width: auto;
  padding-left: 10px;
  padding-top: 75px;
  padding-bottom: 40px;
}
.metabar--bordered {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.metabar--bottom {
  display: block;
  position: fixed;
  bottom: 0;
  height: 50px;
}
.metabar--bottom.metabar--bordered {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.metabar--bottom .metabar-center {
  position: relative;
  left: auto;
  right: auto;
}
.metabar--top {
  position: absolute;
  top: 0;
  height: 65px;
}
@media screen and (max-width: 500px) {
  .metabar--top {
    height: 55px;
  }
}
.metabar--bordered {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.metabar--white {
  background: #ffffff;
}
.metabar-block {
  pointer-events: auto;
}
.metabar-block:not(.metabar-center) {
  position: relative;
  z-index: 500;
}
.metabar-block > .button-set + .button-set {
  margin-left: 0;
}
.u-clearfix {
  *zoom: 1;
}
.u-clearfix:before,
.u-clearfix:after {
  display: table;
  content: " ";
}
.postMetaInline-feedSummary {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.4;
  padding-left: 10px;
}
@media screen and (max-width: 500px) {
  .postMetaInline-feedSummary {
    padding-left: 10px;
    font-size: 13px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.metabar-block > .postMetaInline {
  display: inline-block;
  margin-top: 16px;
  white-space: nowrap;
  line-height: 32px;
  vertical-align: top;
}
.metabar-block > .postMetaInline--avatar {
  margin-right: 10px;
}
.metabar-block > .postMetaInline .avatar-image--icon {
  margin-right: 0;
}
.metabar-block .postMetaInline-draftText:after {
  content: '';
  width: 1px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.15);
  margin: 0 10px;
}
.metabar-center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
}
.metabar-block:not(.metabar-center) {
  position: relative;
  z-index: 500;
}
.avatar-image {
  width: 100%;
  border-radius: 100%;
  background: #f0f0f0;
}
.avatar-image--small {
  width: 40px;
  height: 40px;
  vertical-align: top;
}
.avatar-image--roundedRectangle {
  border-radius: 3px;
}
.navTabs {
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
  padding-bottom: 10px;
}
.navTabs.is-hidden {
  display: none;
}
.navTabs-list {
  list-style: none;
  margin-top: -1px;
}
.navTabs-item {
  display: inline-block;
  margin-right: 20px;
}
.navTabs-item:last-child {
  margin-right: 0;
}
.navTabs-anchor {
  font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  white-space: nowrap;
}
.navTabs-anchor:focus {
  outline: 0;
}
.navTabs-item.is-active .navTabs-anchor {
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px rgba(0, 0, 0, 0.6) solid;
}
.navTabs-count {
  margin-left: 6px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.44);
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
}
.navTabs-item.is-active .navTabs-count {
  color: rgba(0, 0, 0, 0.8);
}
.metabar + .navTabs {
  margin-top: 65px;
}
.navTabs-anchor > .icon--arrowDownThin:before {
  font-size: 14px;
  margin-left: -2px;
  top: 0;
}
.navTabs-anchor:hover > .icon--arrowDownThin:before {
  color: rgba(0, 0, 0, 0.9);
}
.navTabs--metabar {
  border-top: 0;
  text-align: left;
  margin-right: 400px;
  border-top: none;
}
.navTabs--metabar .navTabs-list {
  width: 80%;
  max-width: 700px;
  white-space: nowrap;
}
.navTabs--metabar .navTabs-anchor {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  letter-spacing: .1em;
  padding: 31px 0 19px;
}
.navTabs--metabar .navTabs-anchor:hover {
  color: rgba(0, 0, 0, 0.9);
}
.navTabs--metabar .u-showOnNetbook .navTabs-anchor {
  padding-bottom: 0;
}
.navTabs--metabar .navTabs-item.is-active {
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
.navTabs--metabar .navTabs-item.is-active > .navTabs-anchor {
  font-weight: 700;
  border-top: 0;
}
@media screen and (max-width: 1420px) and (min-width: 1001px) {
  .navTabs--metabar {
    margin-left: 160px;
    margin-right: 0;
  }
  .navTabs--metabar .navTabs-list {
    width: auto;
    max-width: none;
  }
}
@media screen and (max-width: 1000px) {
  .navTabs--metabar {
    background-color: #fafafa;
    width: 100%;
    margin: 65px 0 0;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
  .navTabs--metabar .navTabs-item {
    margin-right: 15px;
  }
  .navTabs--metabar .navTabs-anchor {
    padding: 10px 0;
  }
}
@media screen and (max-width: 680px) {
  .navTabs--metabar {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
  .navTabs--metabar > .navTabs-list {
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .navTabs--metabar > .navTabs-list::-webkit-scrollbar {
    display: none;
  }
  .navTabs-list {
    padding-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  .navTabs {
    padding-bottom: 0;
  }
  .navTabs-anchor {
    padding: 18px 0;
    letter-spacing: 0.1em;
  }
  .navTabs-item {
    margin-right: 15px;
  }
  .navTabs--metabar {
    margin: 55px -16px 0;
  }
}
.navTabs--metabar .u-showOnNetbook .navTabs-anchor {
  padding-bottom: 0;
}
.blockGroup {
  position: relative;
}
.block--list {
  position: relative;
  padding: 25px 0 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  line-height: 1.1;
}
.block--list .block-postMetaWrap {
  margin-top: 10px;
}
.block--list:last-child {
  border-bottom: 0;
}
.blockGroup + .blockGroup .block--list:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blockDivider + .blockGroup-list .block--list:first-child {
  border-top: none;
}
.block--list .block-content {
  margin: 4px 160px 0 0;
}
.block--list .block-image {
  display: block;
  width: 140px;
  height: 120px;
  float: right;
  /*margin: 2px 0 0 20px;
    border: 1px solid rgba(0,0,0,0.05)*/

}
.block-snippet {
  font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}
.block--list .block-snippet {
  display: block;
  margin: 2px 0 0;
  line-height: 1.4;
  font-size: 18px;
  margin-left: -0.9px;
}
.block--list .block-title {
  line-height: 1.3;
  font-size: 24px;
  margin-left: -1.2px;
}
@media (max-width: 1000px) {
  .block--list .block-snippet {
    font-size: 16px;
    line-height: 1.3;
  }
}
@media (max-width: 680px) {
  .layoutSingleColumn,
  .layoutSingleColumn--withSidebar .layoutSingleColumn,
  .layoutMultiColumn-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .blockGroup-list.layoutSingleColumn {
    margin: 30px;
  }
}
@media (max-width: 500px) {
  .button {
    line-height: 27px;
    padding: 1px 10px;
    font-size: 12px;
    height: 30px;
  }
  .block--list .block-image {
    display: none;
  }
  .layoutSingleColumn--withSidebar,
  .layoutSingleColumn--withSidebar .layoutSingleColumn {
    margin: 0;
  }
  .blockGroup-list.layoutSingleColumn {
    margin: 30px;
  }
  .blockGroup--inset .blockGroup-list {
    border-right: 0;
  }
  .block--list .block-snippet {
    font-size: 16px;
    margin-right: 0;
  }
  .block--list .block-content {
    margin-right: 0;
  }
  .block--list:not(.block--withoutImage) .block-title {
    -webkit-hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
  }
  .block--list .block-title {
    margin-left: -0.9px;
    font-size: 18px;
    margin-right: 0;
  }
}
.block--list .block-postMetaWrap {
  margin-top: 10px;
}
.block-postMeta {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.3);
}
.postMetaInline-avatar {
  display: table-cell;
  width: 40px;
  height: 40px;
}
.postMetaInline {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}
.postMetaInline--supplemental > .postMetaInline--bookmark .icon--readingList:before {
  font-size: 14px;
}
.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.link:hover,
.link:active,
.link:focus {
  color: inherit;
  text-decoration: underline;
}
.link--accent {
  color: #57ad68;
  text-decoration: none;
}
.link--accent:hover,
.link--accent:active,
.link--accent:focus {
  color: #57ad68;
}
.link.link--darken:hover {
  color: rgba(0, 0, 0, 0.6);
}
.link--accent.link--darken:hover {
  color: #468c54;
}
.link--darken:hover,
.link--darken:active,
.link--darken:focus {
  text-decoration: none;
}
.modal-content {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.metrics {
  float: right;
  right: 10px;
  top: 50px;
  position: relative;
}
.logo {
  font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
  line-height: 37px;
  margin: 10px;
  display: inline-block;
  letter-spacing: .1em;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  height: 38px;
  padding: 0 16px;
  outline: 0;
  color: #000000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 100ms background-color, 100ms border-color, 100ms color;
  transition: 100ms background-color, 100ms border-color, 100ms color;
  font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
.u-hide {
  display: none !important;
}
@media screen and (min-width: 1201px) {
  .u-showOnNetbook {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
  .u-hideOnTablet {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .u-hideOnMobile {
    display: none !important;
  }
}
.u-minFullHeightControl {
  min-height: 100vh !important;
}
.u-clearfix:after {
  clear: both;
}
.u-alignLeft {
  float: left !important;
}
.u-alignRight {
  float: right !important;
}
